.email-confirm {
    width: 90vw;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email-confirm h4 {
    font-size: 1.5em;
    text-align: center;
}

.email-confirm h4 span {
    color: $primary-color;
    cursor: pointer;
}

.email-confirm #confirm-button {
    background-color: $secondary-dark-color;
    color: $white;
    border: none;
    outline: none;
    border-radius: .3em;
    padding: .5em 1.5em;
    font-size: 1.3em;
    margin: 1em;
}

.email-confirm #confirm-button:focus {
    background-color: $secondary-dark-color;
    border: none;
    outline: none;
}

.email-confirm .resend-modal {
    position: absolute;
    background-color: $white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    box-shadow: $boxshadow-color 0px 7px 29px 0px;
}

.resend-modal input {
    font-size: 1em;
    background-color: transparent;
    border: 2px solid $input-border;
    border-radius: 3%;
    padding: .8em;
    transition: .4s ease-in-out;
}

.resend-modal input:focus {
    border: 2px solid $input-border;
    outline: 0;
}

.resend-modal button {
    font-size: 1em;
    background-color: $secondary-dark-color;
    border: 0;
    color: $white;
    padding: .8em;
    margin: .5em;
    transition: .4s ease-in-out;
    border-radius: 3%;
}

@media screen and (max-width: 500px) {
    .resend-modal input {
        padding: .5em;
    }
    
    .resend-modal button {
        padding: .5em;
    }
}