.otp {
    width: 70vw;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.otp h4 {
    font-size: 2em;
    text-align: center;
}

.otp form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.otp form input {
    font-size: 3em;
    letter-spacing: 1.5em;
    border: 0;
    background-image: linear-gradient(to left, #2ecc71 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 2.5em 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    margin: 1em 0;
}

.otp form button {
    background-color: #2ecc71;
    width: 40%;
    color: #ecf0f1;
    border: none;
    outline: none;
    border-radius: .3em;
    padding: .7em 2em;
    font-size: 1.3em;
}

.otp form button:focus {
    background-color: #2ecc71;
    border: none;
    outline: none;
}

@media screen and (max-width: 700px){
    .otp h4 {
        font-size: 1.5em;
    }

    .otp form input {
        font-size: 2em;
    }
}

@media screen and (max-width: 500px) {
    .otp form input {
        font-size: 1.5em;
        letter-spacing: 1em;
    }

    .otp form button {
        font-size: 1em;
    }
}