.qr-code {
    width: 70vw;
    height: 90vh;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qr-code p {
    font-size: 1.2em;
}

.qr-code ol li{
    font-size: 1.2em;
}

#qr-img{
    padding: 0;
    border: 0.25em solid #2ecc71;
    position: relative;
}

#qr-img::before, #qr-img::after{
    content: '';
    display: block;
    position: absolute;
    background: #fff;
}

#qr-img::before {
    top: -0.3em; 
    bottom: -0.3em;
    left: 1em;
    right: 1em;
}

#qr-img::after {
    left: -0.3em;
    right: -0.3em;
    top: 1em;
    bottom: 1em;
}

#qr-img img{
    position: relative;
    z-index: 1;
    width: 8em;
    padding: .5em;
    border-radius: 3%;
}

.qr-code button {
    background-color: #2ecc71;
    width: 30%;
    color: #ecf0f1;
    border: none;
    outline: none;
    border-radius: .3em;
    padding: .7em 2em;
    font-size: 1.3em;
}

.qr-code button:focus {
    background-color: #2ecc71;
    border: none;
    outline: none;
}

@media screen and (max-width: 800px){
    .qr-code {
        width: 80vw;
    }
    #qr-img img {
        width: 6em;
    }
    .qr-code button {
        font-size: 1.1em;
        padding: .5em 1em;
    }
}

@media screen and (max-width: 500px) {
    .qr-code {
        width: 90vw;
    }
}