.signin {
    width: 80vw;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin .signin-form {
    width: 45%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.signin-form #email, .signin-form #password{

    margin: .5em 0;
    padding: 1em;
    border: 2px solid $input-border;
    border-radius: .5em;
    font-size: 1.3em;
    transition: .4s ease-in-out;
}

.signin #toggle-password{
    width: max-content;
    text-align: end;
    position: relative;
    top: -55px;
    left: 90%;
}

.signin #toggle-password *{
    font-size: 1.2em;
}

.signin-form #email:focus, .signin-form #password:focus {
    border: 2px solid $secondary-color;
    border-radius: .5em;
}

.signin input:focus{
    outline: none;
    border: 2px solid $input-border
}

.signin input::placeholder {
    color: $placeholder-color;
}

.signin-form #remember-me {
    padding: .7em 0;
}

#remember-me input {
    width: 1.3em;
    height: 1.3em;
    margin: 0;
}

#remember-me label {
    margin: 0 .5em;
    font-size: 1.5em;
}

.signin-form button {
    background-color: $primary-color;
    color: $white;
    width: 100%;
    border: none;
    outline: none;
    border-radius: .3em;
    padding: .7em 2em;
    font-size: 1.3em;
}

.signin-form button:focus {
    background-color: $primary-color;
    width: 100%;
    border: none;
    outline: none;
}

.signin #new-member {
    font-size: 1.5em;
}

#new-member a {
    text-decoration: none;
    color: $primary-color;
}

@media screen and (max-width: 800px){
    .signin .signin-form {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .signin .signin-form {
        width: 90%;
    }
    .signin #new-member {
        font-size: 1.2em;
    }
}