.signup {
    width: 80vw;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup form {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup .input-group {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}

.signup .input-group div {
    margin: .5em;
}

.signup .input-group input {
    width: 80%;
    font-size: 1.3em;
    padding: .8em 1em;
    border: 2px solid #ecf0f1;
    border-radius: .5em;
    transition: .4s ease-in-out;
}

.signup .input-group input:focus {
    border: 2px solid #00b894 !important;
    outline: 0;
    border-radius: .5em;
}

.signup input::placeholder {
    color: #bdc3c7;
}

.signup #toggle-password{
    width: max-content;
    text-align: end;
    position: relative;
    top: -50px;
    left: 80%;
}

.signup #toggle-password *{
    font-size: 1.2em;
}

.signup .password-contraints {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    text-align: start;
    padding: 0;
}

.signup .password-contraints li {
    margin: .2em .5em;
}

.signup #error {
    grid-column: 1/-1;
    position: relative;
    text-align: center;
    font-size: 1.3em;
    color: #d63031;
    text-transform: capitalize;
}


.signup form button {
    background-color: #2ecc71;
    color: #ecf0f1;
    width: 45%;
    border: none;
    outline: none;
    border-radius: .3em;
    padding: .7em 2em;
    font-size: 1.3em;
    font-weight: bold;
    transition: .4s ease-in-out;
}

.signup form button:focus {
    background-color: #2ecc71;
    border: none;
    outline: none;
}

.signup #already-member {
    font-size: 1.5em;
}

.signup #already-member a {
    color: #2ecc71;
    text-decoration: none;
}

.signup .email-modal {
    position: absolute;
    background-color: #ecf0f1;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

.signup .email-modal h4 {
    font-size: 1.5em;
}

.signup .email-modal button {
    background-color: #2ecc71;
    color: #ecf0f1;
    width: 45%;
    border: none;
    outline: none;
    border-radius: .3em;
    padding: .7em 2em;
    font-size: 1em;
    font-weight: bold;
}

@media screen and (max-width: 800px){
    .signup {
        height: 95vh;
    }
    .signup .input-group {
        grid-template-columns: repeat(1, 1fr);
    }
    .input-group input {
        width: 90% !important;
        font-size: 1.1em;
        padding: .8em .8em;
    }
    .signup #toggle-password{
        width: max-content;
        text-align: end;
        position: relative;
        top: -50px;
        left: 90%;
    }
}

@media screen and (max-width: 600px) {
    .input-group input {
        font-size: 1em;
    }
    .signup form button {
        font-size: 1em;
    }
    .signup #already-member {
        font-size: 1.2em;
    }
    .signup .email-modal h4 {
        font-size: 1em;
    }
    
    .signup .email-modal button {
        background-color: #2ecc71;
        color: #ecf0f1;
        width: 45%;
        border: none;
        outline: none;
        border-radius: .3em;
        padding: .7em 1.5em;
        font-size: 1em;
        font-weight: bold;
    }
}